*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}
/*
clr= #222327*/
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background: #222327;
}
.navigation{
  position: relative;
  width: 350px;
  height: 50px;
  background: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:25px;
  padding-right: 15px;
}
.navigation ul{
  display: flex;
  width: 300px;
}
.navigation ul li{
  position: relative;
  list-style:none;
  width: 70px;
  height: 55px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 60px;
  font-size:1.8rem;
  transition: 0.5s;
  color: #222327;
}
.navigation ul li.active a .icon{
  transform: translateY(-25px);
}
.navigation ul li a .text{
  color: #222327;
  position: absolute;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  opacity: 0;
}
.navigation ul li.active a .text{
  opacity: 1;
  transform: translateY(10px);
}
.indicator{
  position: absolute;
  background-color: #29fd53;
  top:-50%;
  width: 50px;
  height: 52px;
  border-radius: 50%;
  border:  6px solid #222327;
  transition:0.5s;
}