    <nav>
        <div class="nav_container">
            <div class="nav_header">
                <img src="https://cdn.jsdelivr.net/gh/Nishkarsh-Jain/Awesome-Navbars@main/src/app/home/logo.svg" alt="logo">
                <button class="fa fa-bars" (click)="onClick()" aria-hidden="true"></button>
            </div>
            <ul class="nav_menu" [class.show_menu]=value>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
       
    </nav>
   
