/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

/*  === For Side- Navbar2 Component === 
:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --toggle-btn: #fff;
  --search-color: #0c0c0b;
}
body.dark{
  --body-color: #181914;
  --sidebar-color: #242526;
  --primary-color: #3A3B3C;
  --primary-color-light: #3A3B3C;
  --toggle-color: #FFF;
  --text-color: #CCC;
  --search-color:#fff;
}
*/