<nav >
  <div class="brand">
      <a class="navbar-brand" href="#">
        <img src="./logo.svg"  width="30" height="24">&nbsp;NJ STYLES
      </a>
    <div class="" >
      <ul >
        <li class="nav" >
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav">
          <a class="nav-link"  href="#">Contact</a>
        </li>
        <li class="nav">
          <a class="nav-link"  href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>